* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1a1a2a;
    user-select: none;
}

#logo i {
    font-size: 2rem;
    color: #b743df;
}

#logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: "Salsa", cursive;
    user-select: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 50px;
}

nav div {
    display: flex;
}

nav div p {
    margin: 0px 10px;
    padding: 5px 5px;
    cursor: pointer;
}

nav div p:hover {
    border-bottom: 3px solid #b743df;
}

#hero_section {
    display: flex;
    padding: 0px 50px;
}

#hero_section div:nth-child(1) {
    flex: 1;
}

#hero_section div:nth-child(2) {
    flex: 1;
    margin-top: 50px;
    color: white;
    font-size: 1.8em;
}

#hero_section h1 {
    margin-bottom: 15px;
}

#play_now_flex {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-top: 40px;
    font-size: 18px;
}

#play_now_flex p {
    padding: 0px 20px;
    cursor: pointer;
    border-right: 1px solid white;
}

#play_now_flex p:last-child {
    border: none;
}
/* Gradient Shadow*/

:root {
    --gradient-shadow: linear-gradient(
        45deg,
        #b743df,
        #8727d656,
        #b743df,
        #8727d656,
        #b743df,
        #8727d656,
        #b743df,
        #8727d656,
        #b743df,
        #8727d656
    );
}
.shadow {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: min-content;
    background: linear-gradient(0deg, #000, #262626);
    background: #1a1a2a;
}
.shadow:before,
.shadow:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--gradient-shadow);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.shadow:after {
    filter: blur(6px);
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}
